NEXT_PUBLIC_SUPABASE_URL=https://krctmlzaxmqaaqjvcowj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtyY3RtbHpheG1xYWFxanZjb3dqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NDM2MTgsImV4cCI6MjEwMDAxOTYxOH0.X4-3I_Qx0HH2mMdEYx9eD80li9Phwdwt62f6GXk8rWo
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JO3RKERIORrECxvfKZiJZg_BMI9of13


